Repository tylrs/whats-cookin, pull requests merged in 2021-05, with the labels that each got.

#21 Feature/classes
  pull_request_template.md
  src/classes/Ingredient.js
  src/classes/Recipe.js
  src/classes/RecipeRepository.js
  src/classes/User.js
  test/Ingredient-test.js
  test/Recipe-test.js
  test/RecipeRepository-test.js
  test/User-test.js
  test/sampleData.js
Labels: enhancement

#30 Refactor/recipe card
  src/index.html
  src/styles.css
Labels: refactor

#33 Feature/filter menu
  src/index.html
  src/styles.css
Labels: CSS, HTML

#34 Refactor/filter menu
  src/index.html
  src/scripts.js
  src/styles.css
Labels: CSS, DOM, HTML, refactor

#40 Refactor/recipe view
  src/scripts.js
  src/styles.css
Labels: CSS, DOM

#53 Refactor/all files
  README.md
  src/scripts.js
  src/styles.css
  test/Recipe-test.js
Labels: refactor
